{% import 'bootstrap/wtf.html' as wtf%}
{% extends 'bootstrap/base.html'%}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
{% endblock styles %}

{% block content%}

<div class="container-fluid" style=" margin-top: 10%;">
  <div class="row" >

    <div class="col-md-3"> </div>

    <div class="col-md-6" style="background-color:#d0e9ee;">

      {% for message in get_flashed_messages() %}
      <div class="alert alert-danger">
        {{ message }}
      </div>
      {% endfor %}
      <br>
      {{ wtf.quick_form(login_form) }}
      <br>
      <p> Don't have an account yet? <a href="{{url_for('auth.register')}}" style="color:blue;">Sign up</a></p>
    </div>
    <div class="col-md-3"> </div>

  </div>
</div>


{%endblock%}