
{% extends 'base.html'%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block content %}
<div class="container">
  <a href="{{url_for('main.index')}}">
    <button type="button" class="btn btn-primary btn-sm">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </button>
    <h3 style="color:black;">Comments:</h3>
  </a>

  <h6> <span style="font-weight:bolder">Found :</span> <span
      style="font-family:Bellefair; font-size:18px;">{{ comments | count }} Comments</span></h6>
  <hr>
  {% if comments%}
    {% for contents in comments %}
      <div class="panel">
        <p style="font-family:Bellefair; font-size:20px; padding:10px; text-align:center;">{{contents.comment}}</p>
        <h5>&nbsp;&nbsp;Comment by: &nbsp;<span
            style="color:black;font-family:Bellefair; font-size:20px;">{{current_user.username}}</span></h5>
        {% if current_user.is_authenticated %}
        {% endif %}
      </div>
    {%endfor%}
  {% else %}
    <h5 class="alert alert-danger">There are no comments for this Blog</h5>
    <a href={{url_for('.comment',blog_id = id)}}class="btn btn-primary" style="margin-left: 30px;">Create one.</a>
  {% endif %}
</div>

{% endblock %}